/*
Jackson Zou and Sophie Nichol
SoftDev1 pd9
2019-11-03
*/

.topnav{
  background-color: #EEEEEE;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  font-family: "Lucida Console";
  font-style: oblique;
}

.intro {
  font-size: 20px;
  color:blue;
}

.bloglist {
  font-size: 30px;
  color: #808080;
  text-align: center;
}

.register {
  background-color: green;
  font-size: 25px;
  padding: 20px 30px;
  border-radius: 50%;
  border: 10px solid yellow;
}

.login {
  background-color: purple;
  font-size: 25px;
  padding: 20px 30px;
  border-radius: 50%;
  border: 10px solid red;
}

.title{
  font-size: 25px;
  font-weight: 600;
}

.submit{
  background-color: #D9D9F3;
  color: #60AFFE;
  font-size: 20px;
  padding: 25px 15px;
  border-radius: 1px;
  border: 10px solid #60AFFE;
}

.editentry{
  background-color: #003D1E;
  color: #099999;
  font-size: 40px;
  padding: 50px 33px;
  border-radius: 4px;
  border: 10px solid #F5FE10;
}
body {
  text-align: center;
  font-family: georgia;
}

h1 {
  color: pink;
  font-size: 100px;
}

h2 {
  color: black;
  font-size: 25px;
  font-family: "Proza Libre";
}

form {
  font-family: "Proza Libre";
  font-size: 20px;
  color: blue;
}

table{
  width: 50%;
  border-spacing: 10px;
  text-align: center
}

input {
  border-width: 1px;
  padding: 5px;
  font-size: 15px;
  border-color: black;
}

b {
  font-size: 15px;
  border-color: orange;
  font-weight: 9000;
}

p {
  font-size: 35px;
  border-color: orange;
  font-weight: 9000;
  color: #b7cda6;
  font-family: "Proza Libre";
}
