{% extends "base_profile.html" %}

<!-- info about features of the website -->
{% block content %}
    <h2>P#00 by Bits, Please: Elizabeth Doss, Jackie Lin, Yaru Luo, and Emily Zhang</h2>
    <b>Profile:</b><br>
        <p>Create a new blog by selecting the Create Blog button. </p><br><br>
    <b>Blogs:</b><br>
        <p>Write blog posts through using the Create Entry button on your blog page. </p><br>
        <p>Edit posts using the edit button on each post. </p><br><br>
    <b>Search:</b><br>
        <p>Search by keywords in blog titles. Leave blank to display all blogs on website.<p>

<br><br><br><hr width="50%">
<div width="30%">
  <br><u>List of All Registered Users:</u><br>
  {% for username, id in users %}
    <a href="/user?id={{id}}">{{ username }}</a><br>
  {% endfor %}<br>
</div>

{% endblock %}
