{% extends "base_profile.html" %}

<!-- info about features of the website -->
{% block content %}
    <p>P#00 by Bits, Please: Elizabeth Doss, Jackie Lin, Yaru Luo, and Emily Zhang</p>
    <h2>Profile:</h2><br>
        <b>Create a new blog by selecting the Create Blog button. </b><br><br>
    <h2>Blogs:</h2><br>
        <b>Write blog posts through using the Create Entry button on your blog page. </b><br>
        <b>Edit posts using the edit button on each post. </b><br><br>
    <h2>Search:</h2><br>
        <b>Search by keywords in blog titles. Leave blank to display all blogs on website.<b>

<br><br><br><hr width="50%">
<div width="30%">
  <br><u>List of All Registered Users:</u><br>
  {% for username, id in users %}
    <a href="/user?id={{id}}">{{ username }}</a><br>
  {% endfor %}<br>
</div>

{% endblock %}
