<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{{title}}</title>
    {% endblock %}
  </head>
  <body>
    <center>
      {% block navbar %}
      <div class="topnav">
	<a href="/user">My Profile</a>
	<a href="/search">Search</a>
	<a href="/about">About</a>
	<a href="/logout">Log out</a>
      </div>
      <h4>
	Hello, {{ username }}!
      </h4>
      {% endblock %}
      {% block content %}
      {% endblock %}
      <br><br>
      {% set msgs = get_flashed_messages(with_categories=true) %}
      {% for category, msg in msgs %}
        <p style="color: {{ category }};">
          {{ msg }}
        </p>
      {% endfor %}
    </center>
  </body>

</html>
