{% extends "base_profile.html" %}

{% block content %}
<!-- info about the blog -->
<div>
  <font size="5">
    <b>Blog Title: </b>{{ title }}<br>
    <b>By: </b><a href="{{ userlink }}">{{ username }}</a><br><br>
  </font>
</div><br>

<!-- display all entries in blog -->
{% for title, content, id in entries %}
  <div style="width:50%; background-color:rgba(220, 220, 220, 0.55); padding:15px;">
    <b>{{ title }}</b>
    <br>
    {{ content }}
    <br>
    <!-- owner of entry allowed to edit and delete entry -->
    {% if isOwner %}
    <br>
    <a href="/editentry?id={{id}}"><button type="submit" style="border:none; background-color:white; width:50px; margin-right:10px;">Edit</button></a>
    <a href="/deleteentry?id={{id}}"><button type="submit" style="color:white; background-color:red; border:none;">Delete</button></a>
    {% endif %}
  </div><br>
{% endfor %}

<!-- if logged in user owns the blog, allow them to create entry -->
{% if isOwner %}
<form>
  <button type="submit" formaction="/editentry">Create Entry</button>
</form>
{% endif %}

{% endblock %}
