{% extends "base_profile.html" %}

{% block content %}

<!-- displays info about owner -->
<h1>{{ owner }}'s Profile </h1>

<!-- displays all blogs made by owner on profile -->
<p>List of Blogs: </p>
<div class="bloglist">
{% for title, id in blogs %}
  <a href="/blog?id={{ id }}"> {{ title }}</a><br>
{% endfor %}
</div>
<br>

<!-- if logged in user matches owner of profile, allow option to create blog -->
{% if isOwner %}
<form>
  <button class="submit" type="submit" formaction="/createblog">Create Blog</button>
</form>
<br><br>
{% endif %}

{% endblock %}
