{% extends "base_profile.html" %}
{% block content %}

<!-- search bar -->
<form action="/query" method="POST">
    Search: <input type="text" name="keyword">
    <input type="submit" value="Submit">
</form>
<i><font size="2">To display all blogs on the website, leave search bar blank and click submit.</font></i><br>
<br>

<!-- display all entries that match search keyword -->
{% for id, title, owner_id, owner in results %}
<table bgcolor="#EEEEEE" opacity="0.55" width="30%" cellspacing="10">
  <tr>
    <td>
      Blog Title: <b><a href="/blog?id={{id}}">{{ title}}</a></b>
    </td>
  </tr>
  <tr>
    <td>
      Created By: <a href="/user?id={{owner_id}}">{{ owner }}</a>
    </td>
  </tr>
</table><br>
{% endfor %}

{% endblock %}
